<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArgosyUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ArgosyUpdater.Properties.Settings>
            <setting name="TrayIconText" serializeAs="String">
                <value>Argosy Watcher</value>
            </setting>
            <setting name="PropagateDeletes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalPath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>D:\_ARGOSY\</string>
                        <string>D:\_ARGOSY_X\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SharePath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>\\storage\DU_SHARE\ARGOSY\ARGOSY_DIST</string>
                        <string>\\storage\DU_SHARE\ARGOSY\_argosy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>1200</value>
            </setting>
        </ArgosyUpdater.Properties.Settings>
    </applicationSettings>
</configuration>